.navbar-brand {
	font-family: 'walkway_oblique_boldregular';
}

.nav {
	font-family: 'cantarellbold';
}

th, td {
	text-align: center;
}

.footer_icon {
	width: 35px;
	height: 35px;
	margin-top: 7px;
	margin-bottom: 8px;
	margin-left: 2px;
	margin-right: 2px;
}